/**
* ====================================================
* Breakpoints Variables
* ====================================================
*/
$breakpoints: (
  sm                      : 360px,
  md                      : 750px,
  lg                      : 960px,
  xl                      : 1440px
);

/**
* ====================================================
* Z-index Variables
* ====================================================
*/
$zIndexs: (
  min                     : 1,
  low                     : 10,
  mid                     : 100,
  high                    : 1000,
  max                     : 10000,
);