<h2 style="margin-top:10px; margin-bottom: 10px;">Main Page</h2>

<h3 style="margin: 20px 0px 20px 20px">텍스트 가이드</h3>

<div style="overflow: auto;">
  <div style="background-color:#fff; float:left; overflow:auto; width:50%;">
    <div>
      <app-text text="텍스트50"  textColor="primary-50"></app-text><app-text text="텍스트50"  textColor="secondary-50"></app-text>
    </div>
    <div>
      <app-text text="텍스트100"  textColor="primary-100"></app-text><app-text text="텍스트100"  textColor="secondary-100"></app-text>
    </div>
    <div>
      <app-text text="텍스트200"  textColor="primary-200"></app-text><app-text text="텍스트200"  textColor="secondary-200"></app-text>
    </div>
    <div>
      <app-text text="텍스트300"  textColor="primary-300"></app-text><app-text text="텍스트300"  textColor="secondary-300"></app-text>
    </div>
    <div>
      <app-text text="텍스트400"  textColor="primary-400"></app-text><app-text text="텍스트400"  textColor="secondary-400"></app-text>
    </div>
    <div>
      <app-text text="텍스트500"  textColor="primary-500"></app-text><app-text text="텍스트500"  textColor="secondary-500"></app-text>
    </div>
    <div>
      <app-text text="텍스트600"  textColor="primary-600"></app-text><app-text text="텍스트600"  textColor="secondary-600"></app-text>
    </div>
    <div>
      <app-text text="텍스트700"  textColor="primary-700"></app-text><app-text text="텍스트700"  textColor="secondary-700"></app-text>
    </div>
    <div>
      <app-text text="텍스트800"  textColor="primary-800"></app-text><app-text text="텍스트800"  textColor="secondary-800"></app-text>
    </div>
    <div>
      <app-text text="텍스트900"  textColor="primary-900"></app-text><app-text text="텍스트900"  textColor="secondary-900"></app-text>
    </div>
    <app-text text="텍스트dark" textSize="xs"></app-text>
    <app-text text="텍스트dark" textSize="sm"></app-text>
    <app-text text="텍스트dark" textSize="md"></app-text>
    <app-text text="텍스트dark" textSize="lg"></app-text>
    <app-text text="텍스트dark" textSize="xl"></app-text>
  </div>

  <div style="background-color:#000; float:left; overflow:auto; width:50%;">
    <div>
      <app-text text="텍스트50"  textColor="primary-50"></app-text><app-text text="텍스트50"  textColor="secondary-50"></app-text>
    </div>
    <div>
      <app-text text="텍스트100"  textColor="primary-100"></app-text><app-text text="텍스트100"  textColor="secondary-100"></app-text>
    </div>
    <div>
      <app-text text="텍스트200"  textColor="primary-200"></app-text><app-text text="텍스트200"  textColor="secondary-200"></app-text>
    </div>
    <div>
      <app-text text="텍스트300"  textColor="primary-300"></app-text><app-text text="텍스트300"  textColor="secondary-300"></app-text>
    </div>
    <div>
      <app-text text="텍스트400"  textColor="primary-400"></app-text><app-text text="텍스트400"  textColor="secondary-400"></app-text>
    </div>
    <div>
      <app-text text="텍스트500"  textColor="primary-500"></app-text><app-text text="텍스트500"  textColor="secondary-500"></app-text>
    </div>
    <div>
      <app-text text="텍스트600"  textColor="primary-600"></app-text><app-text text="텍스트600"  textColor="secondary-600"></app-text>
    </div>
    <div>
      <app-text text="텍스트700"  textColor="primary-700"></app-text><app-text text="텍스트700"  textColor="secondary-700"></app-text>
    </div>
    <div>
      <app-text text="텍스트800"  textColor="primary-800"></app-text><app-text text="텍스트800"  textColor="secondary-800"></app-text>
    </div>
    <div>
      <app-text text="텍스트900" textColor="primary-900"></app-text><app-text text="텍스트900"  textColor="secondary-900"></app-text>
    </div>
    <app-text text="텍스트bright" textColor="bright" textSize="xs"></app-text>
    <app-text text="텍스트bright" textColor="bright" textSize="sm"></app-text>
    <app-text text="텍스트bright" textColor="bright" textSize="md"></app-text>
    <app-text text="텍스트bright" textColor="bright" textSize="lg"></app-text>
    <app-text text="텍스트bright" textColor="bright" textSize="xl"></app-text>
  </div>
</div>

<h3 style="margin: 20px 0px 20px 20px">버튼 가이드</h3>
<div style="margin-left: 10px;">
  <app-text text="Base" style="padding-right: 35px;"></app-text>

  <app-button>
    <app-text text="Basic"></app-text>
  </app-button>

  <app-button>
    <app-text text="Primary" textColor="primary-500"></app-text>
  </app-button>

  <app-button>
    <app-text text="Secondary" textColor="secondary-500"></app-text>
  </app-button>

  <app-button [isDisabled]="true">
    <app-text text="Disabled" textColor="disabled"></app-text>
  </app-button>
</div>

<div style="margin-left: 10px;">
  <app-text text="Flat" style="padding-right: 43px;"></app-text>

  <app-button display="flat">
    <app-text text="Basic"></app-text>
  </app-button>

  <app-button type="primary" display="flat">
    <app-text text="Primary" textColor="bright"></app-text>
  </app-button>

  <app-button type="secondary" display="flat">
    <app-text text="Secondary" textColor="bright"></app-text>
  </app-button>

  <app-button [isDisabled]="true" display="flat">
    <app-text text="Disabled" textColor="disabled"></app-text>
  </app-button>
</div>

<div style="margin-left: 10px;">
  <app-text text="Raised" style="padding-right: 24px;"></app-text>

  <app-button display="raised">
    <app-text text="Basic"></app-text>
  </app-button>

  <app-button type="primary" display="raised">
    <app-text text="Primary" textColor="bright"></app-text>
  </app-button>

  <app-button type="secondary" display="raised">
    <app-text text="Secondary" textColor="bright"></app-text>
  </app-button>

  <app-button [isDisabled]="true" display="raised">
    <app-text text="Disabled" textColor="disabled"></app-text>
  </app-button>
</div>

<div style="margin-left: 10px;">
  <app-text text="Big Icon" style="padding-right: 14px;"></app-text>

  <app-button display="box-icon" size="icon-lg" style="padding: 23px">
    <app-text text="O"></app-text>
  </app-button>

  <app-button type="primary" display="box-icon" size="icon-lg" style="padding: 23px">
    <app-text text="O" textColor="bright"></app-text>
  </app-button>

  <app-button type="secondary" display="box-icon" size="icon-lg" style="padding: 21px">
    <app-text text="O" textColor="bright"></app-text>
  </app-button>

  <app-button [isDisabled]="true" display="box-icon" size="icon-lg" style="padding: 25px">
    <app-text text="O" textColor="disabled"></app-text>
  </app-button>
</div>

<div style="margin-left: 10px;">
  <app-text text="Small Icon"></app-text>

  <app-button display="box-icon" size="icon-sm" style="padding: 30px">
    <app-text text="O"></app-text>
  </app-button>

  <app-button type="primary" display="box-icon" size="icon-sm" style="padding: 30px">
    <app-text text="O" textColor="bright"></app-text>
  </app-button>

  <app-button type="secondary" display="box-icon" size="icon-sm" style="padding: 30px">
    <app-text text="O" textColor="bright"></app-text>
  </app-button>

  <app-button [isDisabled]="true" display="box-icon" size="icon-sm" style="padding: 30px">
    <app-text text="O" textColor="disabled"></app-text>
  </app-button>
</div>

<h3 style="margin: 20px 0px 20px 20px">링크 가이드</h3>
<div style="margin-left: 10px;">
  <app-link link="http://www.naver.com" [isBlank]="true">
    <app-text text="네이버 blank"></app-text>
  </app-link>
</div>
<div style="margin-left: 10px;">
  <app-link link="http://www.naver.com">
    <app-text text="네이버 self"></app-text>
  </app-link>
</div>