<h2 style="margin-top:10px; margin-bottom: 10px;">Main Page</h2>

<h3 style="margin-top: 10px; margin-bottom: 10px;">텍스트 가이드</h3>

<div style="background-color:#fff; float:left; overflow:auto; width:50%;">
  <div>
    <app-text text="테스트50" type="inline" textColor="primary-50"></app-text><app-text text="테스트50" type="inline" textColor="secondary-50"></app-text>
  </div>
  <div>
    <app-text text="테스트100" type="inline" textColor="primary-100"></app-text><app-text text="테스트100" type="inline" textColor="secondary-100"></app-text>
  </div>
  <div>
    <app-text text="테스트200" type="inline" textColor="primary-200"></app-text><app-text text="테스트200" type="inline" textColor="secondary-200"></app-text>
  </div>
  <div>
    <app-text text="테스트300" type="inline" textColor="primary-300"></app-text><app-text text="테스트300" type="inline" textColor="secondary-300"></app-text>
  </div>
  <div>
    <app-text text="테스트400" type="inline" textColor="primary-400"></app-text><app-text text="테스트400" type="inline" textColor="secondary-400"></app-text>
  </div>
  <div>
    <app-text text="테스트500" type="inline" textColor="primary-500"></app-text><app-text text="테스트500" type="inline" textColor="secondary-500"></app-text>
  </div>
  <div>
    <app-text text="테스트600" type="inline" textColor="primary-600"></app-text><app-text text="테스트600" type="inline" textColor="secondary-600"></app-text>
  </div>
  <div>
    <app-text text="테스트700" type="inline" textColor="primary-700"></app-text><app-text text="테스트700" type="inline" textColor="secondary-700"></app-text>
  </div>
  <div>
    <app-text text="테스트800" type="inline" textColor="primary-800"></app-text><app-text text="테스트800" type="inline" textColor="secondary-800"></app-text>
  </div>
  <div>
    <app-text text="테스트900" type="inline" textColor="primary-900"></app-text><app-text text="테스트900" type="inline" textColor="secondary-900"></app-text>
  </div>
  <app-text text="테스트dark" type="inline"></app-text>
</div>

<div style="background-color:#000; float:left; overflow:auto; width:50%;">
  <div>
    <app-text text="테스트50" type="inline" textColor="primary-50"></app-text><app-text text="테스트50" type="inline" textColor="secondary-50"></app-text>
  </div>
  <div>
    <app-text text="테스트100" type="inline" textColor="primary-100"></app-text><app-text text="테스트100" type="inline" textColor="secondary-100"></app-text>
  </div>
  <div>
    <app-text text="테스트200" type="inline" textColor="primary-200"></app-text><app-text text="테스트200" type="inline" textColor="secondary-200"></app-text>
  </div>
  <div>
    <app-text text="테스트300" type="inline" textColor="primary-300"></app-text><app-text text="테스트300" type="inline" textColor="secondary-300"></app-text>
  </div>
  <div>
    <app-text text="테스트400" type="inline" textColor="primary-400"></app-text><app-text text="테스트400" type="inline" textColor="secondary-400"></app-text>
  </div>
  <div>
    <app-text text="테스트500" type="inline" textColor="primary-500"></app-text><app-text text="테스트500" type="inline" textColor="secondary-500"></app-text>
  </div>
  <div>
    <app-text text="테스트600" type="inline" textColor="primary-600"></app-text><app-text text="테스트600" type="inline" textColor="secondary-600"></app-text>
  </div>
  <div>
    <app-text text="테스트700" type="inline" textColor="primary-700"></app-text><app-text text="테스트700" type="inline" textColor="secondary-700"></app-text>
  </div>
  <div>
    <app-text text="테스트800" type="inline" textColor="primary-800"></app-text><app-text text="테스트800" type="inline" textColor="secondary-800"></app-text>
  </div>
  <div>
    <app-text text="테스트900" type="inline" textColor="primary-900"></app-text><app-text text="테스트900" type="inline" textColor="secondary-900"></app-text>
  </div>
  <app-text text="테스트bright" type="inline" textColor="bright"></app-text>
</div>

<h3 style="margin-top: 10px; margin-bottom: 10px;">버튼 가이드</h3>

<div>
  <app-button type="primary">
    <app-text text="테스트 버튼" type="inline" textColor="bright"></app-text>
  </app-button>

  <app-button type="secondary">
    <app-text text="테스트 버튼" type="inline" textColor="bright"></app-text>
  </app-button>

  <app-button type="disabled">
    <app-text text="테스트 버튼" type="inline" textColor="disabled"></app-text>
  </app-button>
</div>

<div>
  <app-button type="primary" display="raised">
    <app-text text="테스트 버튼" type="inline" textColor="bright"></app-text>
  </app-button>

  <app-button type="secondary" display="raised">
    <app-text text="테스트 버튼" type="inline" textColor="bright"></app-text>
  </app-button>

  <app-button type="disabled" display="raised">
    <app-text text="테스트 버튼" type="inline" textColor="disabled"></app-text>
  </app-button>
</div>

<div>
  <app-button type="primary" display="box-icon" size="xs">
    <app-text text="O" type="inline" textColor="bright"></app-text>
  </app-button>

  <app-button type="secondary" display="box-icon" size="xs">
    <app-text text="O" type="inline" textColor="bright"></app-text>
  </app-button>

  <app-button type="disabled" display="box-icon" size="xs">
    <app-text text="O" type="inline" textColor="disabled"></app-text>
  </app-button>
</div>